<!--about us section-->
<div class="col-12">
    <div class="section-container">
        <div class="seperator-title primary top-left white-text">
            <h2 class="title-text">About our Service</h2>
        </div>
        <div class="section-wrapper primary-border top left"></div>
        <div class="section-wrapper primary-border bottom right"></div>
        <div class="content">
            <p>
                {{service.longDescription}}
            </p>
        </div>
                
    </div>
</div>
<!--about us section-->