{% extends 'base.html' %}
{% load static %}
{% block content %}
<div class="col-12 hero-img-holder">
    <img class="hero-img" src="{% static 'images/multicolor_paint_explosion.png' %}" 
    alt="A large splash image of a muliticolor paint explosion">
</div>
<div class="text-center grey darken-4">
    <h3 style="margin-top: -500px;">Thank you for your order we will be in contact soon with further details</h3>
</div>

<!-- Next steps section -->
<a href="{% url 'important' %}">
    <h3 class="grey darken-4 col-10 offset-1 col-xl-6 offset-xl-3 text-center py-3 grey-link">Click here to find out more!</h3>
</a>
{% endblock %}
