<h2 class="black col-10 col-md-6 py-3 my-3 text-center">Choose your pricing model</h2>
<h3 class="mx-1 push-down">There are three plans:</h3>
<h4 class="mx-2 mt-2 push-down text-center">Build and bye</h4>
<p class="mx-3">
Build and bye is a process of building you a site and leaving 
you to support it yourself. Perfect if you already have a IT 
team ready to support it
</p>
<h4 class="mx-2 mt-2 push-down text-center">Premium</h4>
<p class="mx-3">
    Premium is a fixed rate payment monthly to host the website 
    and any development is charged hourly or you can buy the 
    prebuilt modules if they suit your needs and have them adapted 
    to your site.
</p>
<h4 class="mx-2 mt-2 push-down text-center">Partnership</h4>
<p class="mx-3">
    Partnership is sharing your success. MakeWebWork will assess 
    your business and either accept or decline you as a partner. 
    If accepted, your website will be developed at a rapid pace 
    adding new functionality and you get access to all modules at 
    no cost once a partner, always a partner is the catch so when 
    you’re making millions we will be getting a cut too.
</p>
<div class="row choice-container JSJourneyOptions">
    <button class="text-center col-12 col-md-3 black text-center my-3 py-3 grey-link btn-dark" related="Journey1-1" href="#">Build and bye</button>
    <button class="text-center col-12 col-md-3 black text-center my-3 py-3 grey-link btn-dark" related="Journey1-2" href="#">Premium</button>
    <button class="text-center col-12 col-md-3 black text-center my-3 py-3 grey-link btn-dark" related="Journey1-3" href="#">Partnership</button>
</div>
