<h2 class="grey darken-3 col-10 col-md-6 py-3 my-3 text-center">Build and bye: Retail</h2>
<p class="my-3 mx-3">
    Use this page to estimate the cost of your website there are a few tools to help you to predict the values for some
    of the questions using these wont affect the value at the end.
</p>

<div class="push-down choice-container">
    {% for price in prices %}
        {% if price.name == 'Defaultwebsitecost' %}
        <input class="hide" id="{{price.name}}babr" type="checkbox" calc="add, {int, pound}, {{price.price}}" target="upfronttotalbabr">
        {% endif %}
    {% endfor %}

    <div class="col-5 flex-container">
        <label class="mx-1 push-down text-center" for="productsbabr">How many products will you have?</label>
        <input class="small-input mx-auto" id="productsbabr" calc="valuescale, {int,int}, {1,2}" target="productsvaluebabr" type="number" maxlength="10" pattern="[0-9]">
    </div>
    <div class="col-5 flex-container">
        <p class="push-down text-center">We recommend the products should have this many pages dedicated to them alone:</p>
        <p id="productsvaluebabr" class="text-center col-3 grey darken-3 text-center my-3 py-3"></p>
    </div>


    <div class="col-5 flex-container">
        <label class="mx-1 push-down text-center" for="Pagesbabr">How many individual webpages do you plan on having?</label>
        <input class="small-input mx-auto" id="Pagesbabr" calc="smartvaluescale, {int,int}, {100,250}, {1000,1500}, {10000,10000}" target="pagesvaluebabr" type="number" maxlength="10" pattern="[0-9]">
    </div>
    <div class="col-5 flex-container">
        <p class="push-down text-center">The total cost of your webpages is:</p>
        <p id="pagesvaluebabr" target="upfronttotalbabr" calc="add, {int, pound}, text" class="text-center col-3 grey darken-3 text-center my-3 py-3"></p>
    </div>


    <div class="choice-container my-3">
        <h2 class="push-down text-center">Modules</h2>
        <p class="push-down mx-3">
            This is the section where you can choose from prebuilt modules these modules will add functionality
            to your website for example a subscription website should have the direct debit module selected to be able to take
            recurring payments monthly.
        </p>
        <h3 class="text-center push-down">Select the modules you would like to add below</h3>
        {% for module in modules %} 
            {% if module.available %}
            <div class="col-5 flex-container">
                <label class="text-center unhide" unhide="hide{{module.moduleID}}babr" for="{{module.moduleID}}">{{module.name}}</label>
                <p id="hide{{module.moduleID}}babr" class="hide">{{module.description}}</p>
                <input class="flipswitch" type="checkbox" id="{{module.moduleID}}babr" target="upfronttotalbabr" calc="add, {int, pound}, {{module.cost}}">
            </div>
            {% endif %}
        {% endfor %}
    </div>
</div>

<h4 class="push-down text-center">Total upfront cost of building the site:</h4>
<h3 id="upfronttotalbabr"  class="text-center col-3 grey darken-3 text-center my-3 py-3"></h3>
<div class="row choice-container JSJourneyOptions">
    <button class="text-center col-12 col-md-3 grey darken-3 text-center my-3 py-3 grey-link btn-dark" related="Journey1-1" href="#">back</button>
    {% if user.is_authenticated %}
    <a class="text-center col-12 col-md-3 grey darken-3 text-center my-3 py-3 grey-link btn-dark" href="{% url 'contact' %}">Contact us</a>
    {% else %}
    <a class="text-center col-12 col-md-3 grey darken-3 text-center my-3 py-3 grey-link btn-dark" href="{% url 'account_login' %}">Login to contact us</a>
    {% endif %}
</div>
