<h2 class="grey darken-3 col-10 col-md-6 offset-md-3 py-3 my-3 text-center">Partnership</h2>
<h3 class="mx-1">How much was your turnover over last 5 years?</h3>
<input id="Profit" calc="valuescale, {0,35%}, {1000000,5%}" type="text" maxlength="10" pattern="[0-9]">
<h4 class="mx-2 mt-2"></h4>
<p id="Profit-after" class="text-center col-12 col-md-3 grey darken-3 text-center my-3 py-3"></p>
<div class="row choice-container">
    <button class="text-center col-12 col-md-3 grey darken-3 text-center my-3 py-3 grey-link btn-dark" related="-1" href="#">back</button>
    <button class="text-center col-12 col-md-3 grey darken-3 text-center my-3 py-3 grey-link btn-dark" related="0" href="#">Contact us</button>
</div>
