<h2 class="grey darken-3 col-10 col-md-6 py-3 my-3 text-center">Build and bye</h2>
<p>
    Build and bye is an upfront cost to use our services to build your site and then there will be 
    no further costs. Only take this option if you have knowledge of python and azure platform or have
    a team that is confident to deliver that support. You can always move to premium if you need it afterwards
    but I would recommend going to premium if you are unsure about you or your teams ability.
</p>
<div class="push-down choice-container">
    <label class="mx-1 push-down text-center" for="Profit">How much was your turnover over last 5 years?</label>
    <input class="small-input mx-auto" id="Profit" calc="valuescale, {0,35%}, {1000000,5%}" target="buildandbyetotal" type="text" maxlength="10" pattern="[0-9]">
</div>
<h4 class="push-down text-center">Below would be our shares in your company:</h4>
<p id="buildandbyetotal" class="text-center col-3 grey darken-3 text-center my-3 py-3"></p>
<div class="row choice-container JSJourneyOptions">
    <button class="text-center col-12 col-md-3 grey darken-3 text-center my-3 py-3 grey-link btn-dark" related="Journey1" href="#">back</button>
    {% if user.is_authenticated %}
    <a class="text-center col-12 col-md-3 grey darken-3 text-center my-3 py-3 grey-link btn-dark" href="{% url 'contact' %}">Contact us</a>
    {% else %}
    <a class="text-center col-12 col-md-3 grey darken-3 text-center my-3 py-3 grey-link btn-dark" href="{% url 'account_login' %}">Login to contact us</a>
    {% endif %}
</div>
