<h2 class="black col-10 col-md-6 py-3 my-3 text-center">Premium</h2>
<p class="mx-3">
    The premium model is a monthly cost to include managing and monitoring your website there is an 
    upfront cost to support the initial bulk of development and reviews. From then onwards there will 
    be a process of change requests so if you want something improved you submit a request for 
    functionality and we will quote you on the cost to make it happen you can spread it out by increasing 
    your monthly cost or pay for the change outright. It also allows you access to our prebuilt modules
    which makes development a lot more affordable. Of course you will get access to our designer when it's
    released too.
</p>

<p class="mx-3">
    What kind of website do you want us to build for you initially?
</p>

<div class="row choice-container JSJourneyOptions">
    <button class="text-center col-12 col-md-3 black text-center my-3 py-3 grey-link btn-dark" related="Journey1-2-1" href="#">Subscription based</button>
    <button class="text-center col-12 col-md-3 black text-center my-3 py-3 grey-link btn-dark" related="Journey1-2-2" href="#">Retail</button>
    <button class="text-center col-12 col-md-3 black text-center my-3 py-3 grey-link btn-dark" related="Journey1-2-3" href="#">Other</button>
    <button class="text-center col-12 col-md-3 black text-center my-3 py-3 grey-link btn-dark" related="Journey1" href="#">Back</button>
</div>
