<h2 class="pink darken-3 col-10 col-md-6 py-3 my-3 text-center">Best of both worlds</h2>
<p class="mx-3 col-12 text-center">
    Looking for a videographers keen eye and 
    an eye in the sky to capture your business
    in the absolute best light it could? 
    
    We are excited to offer the opportunity to have
    both here at MakeWebWork something that you
    won't get many other places!
</p>

<p class="mx-3 col-12 text-center">
    What kind of video do you want us to create for you?
</p>

<div class="row choice-container JSJourneyOptions">
    <button class="text-center col-12 col-md-3 pink darken-3 text-center my-3 py-3 pink-link btn-dark" related="Journey1-3-1" href="#">Service focused</button>
    <button class="text-center col-12 col-md-3 pink darken-3 text-center my-3 py-3 pink-link btn-dark" related="Journey1-3-2" href="#">Product focused</button>
    <button class="text-center col-12 col-md-3 pink darken-3 text-center my-3 py-3 pink-link btn-dark" related="Journey1-3-3" href="#">Events</button>
    <button class="text-center col-12 col-md-3 pink darken-3 text-center my-3 py-3 pink-link btn-dark" related="Journey1" href="#">Back</button>
</div>
