<h2 class="pink darken-3 col-10 col-md-6 py-3 my-3 text-center">Bring your own content</h2>
<p class="mx-3 col-12 text-center">
Do you have some footage you want turned into an advert?
Got all the tools to photograph your product?
Need someone to put something together make some edits or improvements to some footage?
Or maybe you just want special effects added to some footage?

Either way choose an option below and qet a rough quote
</p>

<p class="mx-3 col-12 text-center">
    What kind of service do you run?
</p>

<div class="row choice-container JSJourneyOptions">
    <button class="text-center col-12 col-md-3 pink darken-3 text-center my-3 py-3 pink-link btn-dark" related="Journey1-4-1" href="#">Service focused</button>
    <button class="text-center col-12 col-md-3 pink darken-3 text-center my-3 py-3 pink-link btn-dark" related="Journey1-4-2" href="#">Product focused</button>
    <button class="text-center col-12 col-md-3 pink darken-3 text-center my-3 py-3 pink-link btn-dark" related="Journey1-4-3" href="#">Events</button>
    <button class="text-center col-12 col-md-3 pink darken-3 text-center my-3 py-3 pink-link btn-dark" related="Journey1" href="#">Back</button>
</div>
