<h2 class="pink darken-3 col-10 col-md-6 py-3 my-3 text-center">Choose your pricing model</h2>
<h3 class="mx-1 push-down">There are the three options</h3>
<h4 class="mx-2 mt-2 push-down text-center">Drone footage</h4>
<p class="mx-3 text-center">
    We will give you a unique perspective from the sky or by getting 
    places and angles a person could only dream of these shots can 
    be extremely eye catching and often wows your audience! This is
    a brand new service we are excited to start offering our customers
</p>
<h4 class="mx-2 mt-2 push-down text-center">standard footage</h4>
<p class="mx-3 text-center">
    Standard footage is on foot with a camera this is perfect for b-rolls
    and various other techniques that videographers and photographers use. 
    This has gotten lot's of results for our customers!
</p>
<h4 class="mx-2 mt-2 push-down text-center">Best of both worlds</h4>
<p class="mx-3 text-center">
    Want a bit of both? no problem we can use both techniques to their
    individual strengths and make something that you and your customers
    will love. 
</p>
<div class="row choice-container JSJourneyOptions">
    <button class="text-center col-12 col-md-3 pink darken-3 text-center my-3 py-3 grey-link btn-dark" related="Journey1-1" href="#">Drone footage</button>
    <button class="text-center col-12 col-md-3 pink darken-3 text-center my-3 py-3 grey-link btn-dark" related="Journey1-2" href="#">Standard footage</button>
    <button class="text-center col-12 col-md-3 pink darken-3 text-center my-3 py-3 grey-link btn-dark" related="Journey1-3" href="#">Best of Both</button>
</div>
