<h2 class="pink darken-3 col-10 col-md-6 py-3 my-3 text-center">Drone footage</h2>
<p class="mx-3">
    Looking for a unique perspective? Something that will
    make your audiences think wow! Please continue through our 
    calculator to see just how affordable our service is!

    We hope youre pleasantly surprised!
</p>

<p class="mx-3">
    What kind of video do you want us to create for you?
</p>

<div class="row choice-container JSJourneyOptions">
    <button class="text-center col-12 col-md-3 pink darken-3 text-center my-3 py-3 grey-link btn-dark" related="Journey1-1-1" href="#">Service focused</button>
    <button class="text-center col-12 col-md-3 pink darken-3 text-center my-3 py-3 grey-link btn-dark" related="Journey1-1-2" href="#">Product focused</button>
    <button class="text-center col-12 col-md-3 pink darken-3 text-center my-3 py-3 grey-link btn-dark" related="Journey1-1-3" href="#">Events</button>
    <button class="text-center col-12 col-md-3 pink darken-3 text-center my-3 py-3 grey-link btn-dark" related="Journey1" href="#">Back</button>
</div>
