<h2 class="pink darken-3 col-10 col-md-6 py-3 my-3 text-center">Service focused</h2>
<p class="my-3 mx-3">
    Use this page to estimate the cost of your video there are a few tools to help you to predict the values for some
    of the questions using these wont affect the value at the end.
</p>

<div class="push-down choice-container">
    {% for price in prices %}
        {% if price.name == 'byofevent' %}
        <input class="hide" id="{{price.name}}byofe" type="checkbox" calc="add, {int, pound}, {{price.price}}" target="upfronttotalbyofe">
        {% endif %}
    {% endfor %}


    <div class="col-5 flex-container">
        <label class="mx-1 push-down text-center" for="Pagesbyofe">How long would you like your video to be?(minutes)</label>
        <input class="small-input mx-auto pink darken-3" id="Pagesbyofe" calc="smartvaluescale, {int,int}, {1,200}, {5,750}, {100,10000}" target="pagesvaluebyofe" type="number" maxlength="10" pattern="[0-9]">
    </div>
    <div class="col-5 flex-container">
        <p class="push-down text-center">The total cost of filming and editing those days is:</p>
        <p id="pagesvaluebyofe" target="upfronttotalbyofe" calc="add, {int, pound}, text" class="text-center col-6 col-md-3 pink darken-3 text-center my-3 py-3"></p>
    </div>


    <div class="choice-container my-3">
        <h2 class="push-down text-center">Extras</h2>
        <p class="push-down mx-3">
            This is the section where you can add some optional extras to compliment or
            enhance your videos
        </p>
        <h3 class="text-center push-down">Select the extras you would like to add below</h3>
        {% for module in modules %} 
            {% if module.available %}
            <div class="col-5 flex-container">
                <i class="fa-solid fa-circle-info unhide" unhide="hide{{module.moduleID}}byofe"></i>
                <label class="text-center"  for="{{module.moduleID}}byofe">{{module.name}}</label>
                <p id="hide{{module.moduleID}}byofe" class="black text-center hide">{{module.description}}</p>
                <input class="flipswitch pink darken-3" type="checkbox" id="{{module.moduleID}}byofe" target="upfronttotalbyofe" calc="add, {int, pound}, {{module.cost}}">
            </div>
            {% endif %}
        {% endfor %}
    </div>
</div>


<h4 class="push-down text-center">Total cost of creating the video:</h4>
<h3 id="upfronttotalbyofe" calc="add, {int, pound}, text"  class="text-center col-3 pink darken-3 text-center my-3 py-3"></h3>

<div class="row choice-container JSJourneyOptions">
    <button class="text-center col-12 col-md-3 pink darken-3 text-center my-3 py-3 pink-link btn-dark" related="Journey1-4" href="#">back</button>
    {% if user.is_authenticated %}
    <a class="text-center col-12 col-md-3 pink darken-3 text-center my-3 py-3 pink-link btn-dark" href="{% url 'contact' %}">Contact us</a>
    {% else %}
    <a class="text-center col-12 col-md-3 pink darken-3 text-center my-3 py-3 pink-link btn-dark" href="{% url 'account_login' %}">Login to contact us</a>
    {% endif %}
</div>
