<h2 class="pink darken-3 col-10 col-md-6 py-3 my-3 text-center">Standard footage</h2>
<p class="mx-3 col-12 text-center">
    Looking for a videographers keen eye to capture 
    your company in it's prime? Look no further please
    choose one of the below option depending on what sort
    of business you are.
</p>

<p class="mx-3 col-12 text-center">
    What kind of video do you want us to create for you?
</p>

<div class="row choice-container JSJourneyOptions">
    <button class="text-center col-12 col-md-3 pink darken-3 text-center my-3 py-3 pink-link btn-dark" related="Journey1-2-1" href="#">Service focused</button>
    <button class="text-center col-12 col-md-3 pink darken-3 text-center my-3 py-3 pink-link btn-dark" related="Journey1-2-2" href="#">Product focused</button>
    <button class="text-center col-12 col-md-3 pink darken-3 text-center my-3 py-3 pink-link btn-dark" related="Journey1-2-3" href="#">Events</button>
    <button class="text-center col-12 col-md-3 pink darken-3 text-center my-3 py-3 pink-link btn-dark" related="Journey1" href="#">Back</button>
</div>
