/* navbar styles */
/* Media Qs @ 576px */
.navbar {
    font-size: 3.2vw;
    padding:0px;
}

/* button styles */
.btn-toggle{
    border-color:rgba(0, 188, 212, 1);
    color:rgba(0, 188, 212, 1) ;
}
.btn-toggle:hover{
    background-color:rgba(233, 30, 99, 1);
}

/* scrollbar styles */
::-webkit-scrollbar-track-piece{
    background: rgba(233, 30, 99, 0.3);
}
::-webkit-scrollbar{
    width:5px;
    height:5px;
}
::-webkit-scrollbar-thumb{
    background:rgba(0, 188, 212, 1);
}

/* General styles */
a {
    text-decoration: none;
    color:inherit;
}
a:hover{
    color:inherit;
}
.grey-link:hover{
    background-color: rgba(255,255,255, 1) !important;
    color:black;
}
.pink-link:hover{
    color: rgba(244,143,177, 1) !important;
}
.cyan-link:hover{
    color: rgba(128,222,234, 1) !important;
}
.green-link:hover{
    color: rgba(165,214,167, 1) !important;
}
.blue-link:hover{
    color: rgba(33,150,243, 1) !important;
}
.selectable:hover{
    background-color: rgba(255,255,255, 1) !important;
    color:black;
}
.selected.selectable{
    background-color: rgba(255,255,255, 1) !important;
    color:black;
}
body {
    font-family: 'Montserrat', sans-serif;
}
.scroll-X{
    overflow-x: scroll;
    display: flex;
}
.circle-overlap{
    margin-top: -10vw;
}
/* Media Qs @  992px */
.circle{
    height:50vw;
    width:50vw;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.animation{
    position: relative;
    width:100%;
    overflow-x: hidden;
}
/* Media Qs @  992px */
.bg-image{
    width: 100%;
    position:absolute;
    height:130vw;
    overflow: hidden;
}
/* Media Qs @  992px */
.behind{
    z-index: -1;
    position:absolute;
    width:150%;
}
/* Media Qs @  992px */
.right{
    left:10%
}
/* Media Qs @  992px */
.left{
    top:40%;
    right:10%;
}
.general-container{
    display: flex;
    width: 100%;
    flex-wrap: wrap;
    justify-content: space-between;
    flex-direction: row;
    align-items: center;
}
.footer-icon{
    font-size: 10vw;
    padding-left:5vw
}
.important-icon{
    font-size: 8vw;
}
/* End general styles */

/* hero image styles */
/* Media Qs @ 576px */
.hero-img-holder {
    position:relative;
    bottom:calc(calc(16.6vw / 10.63) * 7);
    width:100%;
    height:100vh;
    overflow: hidden;
    z-index: -1;
}
/* The left value is calculated here just incase someone has javascript disabled in their browser */
.hero-img{
    z-index: -1;
    height:100vh;
    position:absolute;
    top:0;
    left:calc(calc(calc(calc(50vh / 9) * 16) - calc(calc(100vh / 9) * 16)) + 50vw);
}

/* media queries grouped into bootstraps breakpoints */
@media (max-width: 576px) {
    /* Start navbar styles */
    .show {
        font-size: 5vw;
        background-color: rgba(0,0,0,.3);
    }
    .collapsing {
        font-size: 5vw;
        background-color: rgba(0,0,0,.3);
    }
    /* End navbar styles */
    /* start hero image styles */
    .hero-img-holder {
        bottom:calc(calc(33.3vw / 10.6) * 7.1);
    }
    /* End hero image styles */
}
@media (min-width: 576px){

}
@media (min-width: 768px){

}
@media (min-width: 992px){
    .circle{
        height:30vw;
        width:30vw;
    }
    .bg-image{
        height:80vw;
    }
    .behind{
        width:100%;
    }
    .footer-icon{
        font-size: 5vw;
        padding-left:10vw
    }
    .important-icon{
        font-size: 5vw;
    }
}
@media (min-width: 1200px){

}
@media (min-width: 1400px){

}