{% load static %}
<nav class="navbar navbar-expand-md navbar-dark">
    <div class="container-fluid">
        <!-- button to expand -->
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <!-- image -->
        <a class="navbar-brand col-4 col-sm-2" href="{% url 'home' %}">
            <img class="img-fluid" src="{% static 'images/Makewebwork_logo.png' %}" alt="MakeWebWork's logo">
        </a>
        <!-- navbar items -->
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav">
            <li class="nav-item mx-2">
                <a class="nav-link active pink-text pink-link" aria-current="page" href="{% url 'design' %}">Design</a>
            </li>
            <li class="nav-item mx-2">
                <a class="nav-link cyan-text cyan-link" href="{% url 'data' %}">Data</a>
            </li>
            <li class="nav-item mx-2">
                <a class="nav-link green-text green-link" href="{% url 'development' %}">Development</a>
            </li>
            <li class="nav-item mx-2">
                <a class="nav-link blue-text text-darken-4 blue-link" href="{% url 'contact' %}">Contact us</a>
            </li>
            </ul>
        </div>
    </div>
</nav>