{% extends 'copilot/partials/sectionContainer.html' %}
{% load static %}
{% block section_content %}
<div class="row py-3 px-3">
<div class="col-5-lg col-12">
  <div class="flip-card">
    <div class="flip-card-inner">
      <div class="flip-card-front">
        {% with section.uploadedMedia.all|first as frontMedia %}
          {% if frontMedia %}
            <img src="{{ frontMedia.imageURL.url }}" alt="Front">
          {% else %}
            <p>No front media</p>
          {% endif %}
        {% endwith %}
      </div>
      <div class="flip-card-back">
        {% with section.uploadedMedia.all|slice:"1:2" as backMediaList %}
          {% if backMediaList and backMediaList.0 %}
            <img src="{{ backMediaList.0.imageURL.url }}" alt="Back">
          {% else %}
            <p>No back media</p>
          {% endif %}
        {% endwith %}
      </div>
    </div>
  </div>
</div>

  <div class="col-5-lg col-12 ms-auto my-auto">
    <div class="section-container">
      <div class="section-wrapper sep-top sep-left {{ section.backgroundColor|default:project.backgroundColor }} {{ section.backgroundColorModifier|default:project.backgroundColorModifier }} op-3"></div>
      <div class="section-wrapper sep-bottom sep-right grey darken-4 op-3"></div>
      <div class="content {{ section.textColor|default:project.textColor }} {{ section.textColorModifier|default:project.textColorModifier }}">
        <h3>Purpose?</h3>
        <p>{{ section.shortDescription }}</p>
      </div>
    </div>
  </div>
</div>
{% endblock %}
