{% extends 'copilot/partials/sectionContainer.html' %}
{% load static %}
{% block section_content %}
<div class="col-12 ms-auto my-auto">
  <div class="section-container">
    <div class="section-wrapper sep-top sep-left 
      {{ section.backgroundColor|default:project.backgroundColor }} 
      {{ section.backgroundColorModifier|default:project.backgroundColorModifier }} op-3"></div>

    <div class="section-wrapper sep-bottom sep-right grey darken-4 op-3"></div>

    <div class="content 
      {{ section.textColor|default:project.textColor }} 
      {{ section.textColorModifier|default:project.textColorModifier }}">
      <p>{{ section.shortDescription }}</p>
    </div>
  </div>
</div>
{% endblock %}
