{% extends 'copilot/partials/sectionContainer.html' %}
{% load static %}
{% block section_content %}
{% with section.uploadedMedia.all|first as video %}
  {% if video and video.videoURL %}
    <div class="col-5-lg col-12">
      <div class="responsive-video-wrapper">
        <video class="col-12" controls >
          <source src="{{ video.videoURL.url }}" type="video/mp4">
          Your browser does not support the video tag.
        </video>
      </div>
    </div>
  {% else %}
    <div class="col-12">
      <h3>Coming Soon</h3>
    </div>
  {% endif %}
{% endwith %}


<div class="col-5-lg col-12 ms-auto my-auto">
  <div class="section-container">
    <div class="section-wrapper sep-top sep-left 
      {{ section.backgroundColor|default:project.backgroundColor }} 
      {{ section.backgroundColorModifier|default:project.backgroundColorModifier }} op-3"></div>
      
    <div class="section-wrapper sep-bottom sep-right grey darken-4 op-3"></div>

    <div class="content 
      {{ section.textColor|default:project.textColor }} 
      {{ section.textColorModifier|default:project.textColorModifier }}">
      <h3>Purpose?</h3>
      <p>{{ section.shortDescription }}</p>
    </div>
  </div>
</div>
{% endblock %}
