{% load static %}

<!doctype html>
<html lang="en">
  <head>
    <!--start meta tags-->
    {% block meta %}
    <meta charset="UTF-8">
    <!-- This will allow support of older Internet Explorer versions and eliminate validation errors when validating the HTML -->
    <meta http-equiv="X-UA-Compatible" content="IE=edge"> 
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% endblock %}
    <!-- end meta tags -->

    <!-- Start extra meta -->
    {% block extra_meta %}
    {% endblock %}
    <!-- end extra meta tags -->

    <!-- Start css -->
    {% block corecss %}
    <!-- external CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" 
    integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,200;0,400;1,200&display=swap" rel="stylesheet">
    <!-- CSS links local -->
    <link rel="stylesheet" type="text/css" href="{% static '/css/colors.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static '/css/styles.css' %}">
    {% endblock %}
    <!-- end CSS -->

    <!-- Start extra CSS -->
    {% block extra_css %}
    {% endblock %}
    <!-- End extra CSS -->

    {{ stripe_public_key|json_script:"id_stripe_public_key" }}
    {{ client_secret|json_script:"id_client_secret" }}

    <!-- Start coreJS -->
    {% block corejs %}
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.1/jquery.min.js" 
    integrity="sha512-aVKKRRi/Q/YV+4mjoKBsE4x3H+BkegoM/em46NNlCqNTmUYADjBbeNefNxYV7giUp0VxICtqdrbqU7iVaeZNXA==" 
    crossorigin="anonymous" referrerpolicy="no-referrer">
    </script>
    <script src="https://kit.fontawesome.com/ef4cf8777f.js" crossorigin="anonymous"></script>
    {% endblock %}
    <!-- End coreJS -->

    <!-- Start extra_js -->
    {% block extra_js %}
    {% endblock %}
    <!-- End extra_js -->

    <!-- Content for every page -->
    <title>MakeWebWork {% block extra_title %}{% endblock %}</title>
  </head>
  <body class="black white-text">
    <noscript>
        <h6>Hey there! this page will still function without javascript but it's a much better experience with it. Enable javascript!</h6>
    </noscript>
    <!-- NAVBAR -->
    {% include 'includes/navbar.html' %}
    <!-- Messages section -->
    {% if messages %}
        <div class="message-container">
            {% for message in messages %}
                {% with message.level as level %}
                    {% if level == 40 %}
                    <div class="row grey darken-4">
                        <div class="col-12">
                            Error: {{ message }}
                        </div>
                    </div>
                    {% elif level == 30 %}
                    <div class="row grey darken-4">
                        <div class="col-12">
                            Warning: {{ message }}
                        </div>
                    </div>
                    {% elif level == 25 %}
                    <div class="row grey darken-4">
                        <div class="col-12">
                            Success: {{ message }}
                        </div>
                    </div>
                    {% else %}
                    <div class="row grey darken-4">
                        <div class="col-12">
                            Info: {{ message }}
                        </div>
                    </div>
                    {% endif %}
                {% endwith %}
            {% endfor %}
        </div>
    {% endif %}
    <!-- End messsages section -->

    <!-- Start page_header -->
    {% block page_header %}
    {% endblock %}
    <!-- End page_header-->
    <div id="col-12">
    <!-- Start content -->
    {% block content %}
    {% endblock %}
    <!-- End content  -->
    </div>
    <footer class="mt-3 pt-3 rainbow-element op-1 general-container">
        <div class="col-2">
            <img class="img-fluid" src="{% static 'images/Makewebwork_logo.png' %}" alt="MakeWebWork's logo">
        </div>
        {% for icon in socials %}
            {% if icon.display and icon.link|length > 1 %}
            <div class="col-2">
                <a class="footer-icon" target="_blank" href="{{ icon.link }}">
                    <i class="{{icon.fontawesome}}"></i>
                </a>
            </div> 
            {% endif %}
        {% endfor %}
    </footer>
    <!-- Start postloadjs -->
    {% block postloadjs %}
    <script type="text/javascript" src="{% static 'js/img_scroll.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/utility.js' %}"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" 
    integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous">
    </script>
    {% endblock %}
    <!-- End postloadjs -->
    <!-- Start extrapostjs-->
    {% block extrapostjs %}

    {% endblock %}
    <!-- End extrapostjs -->
    <!-- End of file -->
  </body>
</html>