{% extends 'base.html' %}
{% load static %}
{% block content %}
<div class="col-12 hero-img-holder">
    <img class="hero-img" src="{% static 'images/Pink_paint_explosion.png' %}" 
    alt="A large splash image of a pink paint explosion">
</div>
<div id="hero-cover" class="custom-scroll black" 
animationProps="100,screenHeight/2,0,-screenHeight/1.5,down">
    <div class="mx-3 black op-8">
        <div class="mx-3 text-center py-3 pink-text darken-4">
            <h1>Marketing</h1>
            <p>
                Putting your business at the forefront of peoples minds
            </p>
        </div>
    </div>
</div>
<div class="my-3">
    <div class="bg-image">
        <img class="behind left" src="{% static 'images/Pink_paint_explosion.png' %}" 
            alt="A large splash image of a pink paint explosion">
    </div>
    <div class="bg-image">
        <img class="behind right" src="{% static 'images/Pink_paint_explosion.png' %}" 
            alt="A large splash image of a pink paint explosion">
    </div>
    <div class="mt-3">
        <div id="design" class="text-center custom-scroll circle" 
        animationProps="screenHeight/4,screenHeight/2,screenwidth,screenwidth/12*3,left">
            <img class="img-fluid" src="{% static 'images/Vision_design.png' %}" 
            alt="A circular image that displays an example of the element adding process">
        </div>
    </div>
    <div class="circle-overlap">
        <div id="data" class="text-center custom-scroll circle" 
        animationProps="screenHeight/4,screenHeight/2,screenwidth,screenwidth/12*6,left">
            <img class="img-fluid" src="{% static 'images/Creativity_strategy.png' %}" 
            alt="A circular image that displays an example of the element adding process when text is selected">
        </div>
    </div>
    <div class="circle-overlap pb-3">
        <div id="development" class="text-center custom-scroll circle" 
        animationProps="screenHeight/4,screenHeight/2,screenwidth,screenwidth/12*9,left">
            <img class="img-fluid" src="{% static 'images/Path_to_success_fixed.png' %}" 
            alt="A circular image full of colours">
        </div>
    </div>
</div>

<div class="my-3">
    <h3 class="mx-3 text-center mb-3 pb-3">The process</h3>
    <p class="text-center">You can be as involved in this process as you like!</p>
    <div class="bg-image">
        <img class="behind left" src="{% static 'images/Pink_paint_explosion.png' %}" 
            alt="A large splash image of a pink paint explosion">
    </div>
    <div class="bg-image">
        <img class="behind right" src="{% static 'images/Pink_paint_explosion.png' %}" 
            alt="A large splash image of a pink paint explosion">
    </div>
    <div class="mt-3">
        <div id="stepOne" class="pink op-2 darken-4 col-12 col-md-8 py-3 custom-scroll" 
        animationProps="screenHeight/4,screenHeight/2,screenwidth,screenwidth/12*6,left">
            <h3 class="mx-3 col-4 my-3">The Setup</h3>
            <div class="row">
                <h4 class="col-4 text-center">Discussion</h4>
                <p class="col-6 text-left"> 
                    What sort of energy do you want? Shot opportunities? Where?
                    Time?
                </p>
            </div>
            <div class="row">
                <h4 class="col-4 text-center">Execution</h4>
                <p class="col-6 text-left">
                    The setup will be a phonecall, video call or on the premium package
                    an in person meeting with the designer and videographer!
                </p>
            </div>
            <div class="row">
                <h4 class="col-4 text-center">Finishing touches</h4>
                <p class="col-6 text-left">
                    We will make sure you have something to go away with, whether that's a plan or a direction,
                    We really love to get involved with the setup stage making sure that
                    you have ideas bouncing in both directions. Ensuring we create the best video we can.
                </p>
            </div>
        </div>
    </div>
    <div class="mt-3">
        <div id="stepTwo" class="pink op-2 darken-2 col-12 col-md-8 py-3 custom-scroll" 
        animationProps="screenHeight/4,screenHeight/2,screenwidth,screenwidth/12*6,right">
            <h3 class="text-left">The Capture</h3>
            <div class="row">
                <h4 class="col-4 text-center">Discussion</h4>
                <p class="col-6 text-left"> 
                    Where do you want us, Where's is the action happening?
                    Has anything changed from the breif anything you especially
                    want captured today?
                </p>
            </div>
            <div class="row">
                <h4 class="col-4 text-center">Execution</h4>
                <p class="col-6 text-left">
                    The big day, we make sure we try and capture some unique
                    angles and create shot opportunies that will really stand
                    out and match the energy you want to convey.
                </p>
            </div>
            <div class="row">
                <h4 class="col-4 text-center">Finishing touches</h4>
                <p class="col-6 text-left">
                    We will share the final results of your marketing video with you,
                    and allow you to suggest any changes. You are also welcome to direct
                    us to shots you want to make sure are captured aswell. 
                </p>
            </div>
        </div>
    </div>
    <div class="mt-3">
        <div id="stepThree" class="pink op-2 col-12 col-md-8 py-3 custom-scroll" 
        animationProps="screenHeight/4,screenHeight/2,screenwidth,screenwidth/12*6,left">
            <h3 class="mx-3 col-4 my-3">The Production</h3>
            <div class="row">
                <h4 class="col-4 text-center">Discussion</h4>
                <p class="col-6 text-left"> 
                    After reviewing the shots are there any that stand out to you?
                    Got any visions for the advert? Any ideas? 
                </p>
            </div>
            <div class="row">
                <h4 class="col-4 text-center">Execution</h4>
                <p class="col-6 text-left">
                    This will involve our designer contacting you and sharing what
                    they've done and what they plan to do based on your brief while
                    sharing with you progress updates as it goes along.
                </p>
            </div>
            <div class="row">
                <h4 class="col-4 text-center">Finishing touches</h4>
                <p class="col-6 text-left">
                    We will share the final results of your marketing video with you,
                    and allow you to suggest any changes.
                </p>
            </div>
        </div>
    </div>
    <div class="mt-3">
        <div id="stepFour" class="pink op-2 lighten-2 col-12 col-md-8 py-3 custom-scroll" 
        animationProps="screenHeight/4,screenHeight/2,screenwidth,screenwidth/12*6,right">
            <h3 class="mx-3 col-4 my-3">The Performance</h3>
            <div class="row">
                <h4 class="col-4 text-center">Discussion</h4>
                <p class="col-8 text-left">
                    Where are you posting? What audience are you trying to reach?
                    What are you hoping to achieve?
                </p> 
            </div>
            <div class="row">
                <h4 class="col-4 text-center">Execution</h4>
                <p class="col-8 text-left">
                    We will share the file in a few formats to suit your intended
                    audience. We can also create themed graphics to go alongside your
                    marketing campaign we do all kinds of things from graphics, menus to
                    even redesigning your logo!
                </p>
            </div>
            <div class="row">
                <h4 class="col-4 text-center">Finishing touches</h4>
                <p class="col-8 text-left">
                    We will keep in touch and always be open to future collaborations.
                </p>
            </div>
        </div>
    </div>
</div>

<div class="my-3 pink darken-4 op-2 col-12 col-md-6 col-lg-4 offset-md-3 offset-lg-4">
    <h3 class="mx-3 my-3 py-3 text-center">So far so good?</h3>
</div>
<a href="{% url 'important_marketing' %}">
    <h3 class="pink darken-2 op-2 col-10 offset-1 col-xl-6 offset-xl-3 text-center py-3 grey-link">Click here to find out more!</h3>
</a>
{% if user.is_authenticated %}
<a href="{% url 'marketing' 'home' %}">
    <h3 class="pink darken-2 op-2 col-10 offset-1 col-xl-6 offset-xl-3 text-center py-3 grey-link">Get a quote</h3>
</a>
{% else %}
<a href="{% url 'account_login' %}">
    <h3 class="pink darken-2 op-2 col-10 offset-1 col-xl-6 offset-xl-3 text-center py-3 grey-link">Login for quotes</h3>
</a>
{% endif %}
<a href="{% url 'gallery' %}">
    <h3 class="pink darken-2 op-2 col-10 offset-1 col-xl-6 offset-xl-3 text-center py-3 grey-link">Gallery</h3>
</a>
{% endblock %}
