{% extends 'base.html' %}
{% load static %}
{% block content %}
<div class="col-12 hero-img-holder">
    <img class="hero-img" src="{% static 'images/Green_paint_explosion.png' %}" 
    alt="A large splash image of a pink paint explosion">
</div>
<div id="hero-cover" class="custom-scroll black" 
animationProps="100,screenHeight/2,0,-screenHeight/1.5,down">
    <div class="mx-3 grey darken-4">
        <div class="mx-3 text-center py-3">
            <h1>This is where we truly shine</h1>
            <p>
                No-one does development like us
            </p>
        </div>
    </div>
</div>
<div class="my-3">
    <h3 class="mx-3 text-center mb-3 pb-3">The Journey</h3>
    <div class="bg-image">
        <img class="behind left" src="{% static 'images/Green_paint_explosion.png' %}" 
            alt="A large splash image of a pink paint explosion">
    </div>
    <div class="bg-image">
        <img class="behind right" src="{% static 'images/Green_paint_explosion.png' %}" 
            alt="A large splash image of a pink paint explosion">
    </div>
    <div class="mt-3">
        <div id="stepOne" class="black op-2 text-center col-12 col-md-8 mx-3 py-3 custom-scroll" 
        animationProps="screenHeight/4,screenHeight/2,screenwidth,screenwidth/12*6,left">
            <h3>Step 1</h3>
            <p>
                We make a website plan together you 
                pick your theme and we put together 
                something unique to your company.
            </p>
            <p>    
                We set out what's important right now
                set an initial price and add the rest to
                the wish list.
            </p>
            <p>
                The price is flexible based on what you
                can afford.
            </p>
            <p>
                The goal of the website it to support 
                your company to make more money
                so if we make it well you're more likely
                to complete your wish list.
            </p>
        </div>
    </div>
    <div class="mt-3">
        <div id="stepTwo" class="black op-3 text-center col-12 col-md-8 mx-3 py-3 custom-scroll" 
        animationProps="screenHeight/4,screenHeight/2,screenwidth,screenwidth/12*6,left">
            <h3>Step 2</h3>
            <p>
                This is where we present your website. 
                If you like it it's yours we will deploy it 
                in less than a week.
            </p>
            <p>    
                If you want to change a few bits then 
                we will do a review and action the 
                changes.
            </p>
        </div>
    </div>
    <div class="mt-3">
        <div id="stepThree" class="black op-4 text-center col-12 col-md-8 mx-3 py-3 custom-scroll" 
        animationProps="screenHeight/4,screenHeight/2,screenwidth,screenwidth/12*6,left">
            <h3>Step 3</h3>
            <p>
                This is where you website is live. We will
                be working hard to get your wish list 
                ready and keeping an eye on how your
                site is doing. If it flourishing we are more
                likely to action your wish list items. 
            </p>
            <p>    
                If we see an opportunity to improve your 
                site we will get in contact also to see if
                you would like to add it to your wish list.
            </p>
        </div>
    </div>
    <div class="mt-3">
        <div id="stepFour" class="black op-5 text-center col-12 col-md-8 mx-3 py-3 custom-scroll" 
        animationProps="screenHeight/4,screenHeight/2,screenwidth,screenwidth/12*6,left">
            <h3>Step 4</h3>
            <p>
                This is when your website has reached 
                it's maximum potential at this point 
                your company will be flourishing the
                only thing to worry about going forward
                is supporting the demand for your site
                and potentially remedying any bugs 
                that come with a massive environment.
            </p>
            <p>    
                Due to the size of your company you
                might want to outsource you IT to us or
                maybe have your own IT department we
                are happy to let you know what 
                specialists you would benefit from. 
            </p>
            <p>
                We will support you whichever direction
                you choose. But we hope at this point
                we would've grown together and you 
                would see the value we bring to your
                company. 
            </p>
        </div>
    </div>
</div>
<div class="my-3 grey darken-4 col-12 col-md-6 col-lg-4 offset-md-3 offset-lg-4">
    <h3 class="mx-3 my-3 py-3 text-center">The designer</h3>
</div>
<div class="my-3 grey darken-4 col-12">
    <p class="py-3 px-3">
        The designer is always going to have new features added to it once it's released and will allow you to experiment with your website develop new styles and
        add new functionality into your site at your own pace.
    </p>
</div>
<div class="my-3 grey darken-4 col-12 col-md-6 col-lg-4 offset-md-3 offset-lg-4">
    <h3 class="mx-3 my-3 py-3 text-center">Assisted development</h3>
</div>
<div class="my-3 grey darken-4 col-12">
    <p class="py-3 px-3">
        Getting a website with us means that you are part of our family we want you to succeed and to succeed with you. So we will regularly check out how business
        is going and recommending new functions that we can add to your website. The benefit being we have an insight into what's possible giving a unique advantage to
        you over your competitors. Also managing many websites means we see brilliant ideas being implemented across many sectors that could be used to put a unique
        twist on your site.
    </p>
</div>
<h2 class="grey darken-4 mx-3 my-3 text-center py-3">So far so good?</h2>
<a href="{% url 'important' %}">
    <h3 class="grey darken-4 col-10 offset-1 col-xl-6 offset-xl-3 text-center py-3 grey-link">Click here to find out more!</h3>
</a>
{% endblock %}
