{% extends 'base.html' %}
{% load static %}
{% block extra_css %}
<link rel="stylesheet" type="text/css" href="{% static '/css/webformstyles.css' %}">
{% endblock %}
{% block content %}
{% if user.is_authenticated %}
<h1>Welcome back {{profile.user}} what would you like to do today?</h1>
<div class="row choice-container">
    <a class="text-center col-12 col-md-3 grey darken-3 text-center my-3 py-3 grey-link btn-dark" href="{% url 'account_logout' %}">Log out</a>
    <a class="text-center col-12 col-md-3 grey darken-3 text-center my-3 py-3 grey-link btn-dark" href="{% url 'account' %}">Back</a>
</div>
<h2>Details</h2>
<p>userID: {{profile.user_id}}</p>
<p>Username: {{profile.user}}</p>
<p>CustomerID: {{profile.CustomerID}}</p>
<p>Phone Number: {{profile.Phone_number}}</p>
<p>House Number: {{profile.House_number}}</p>
<p>Street Name 1: {{profile.address_line_one}}</p>
<p>Town: {{profile.Town}}</p>
<p>County: {{profile.County}}</p>
<p>postcode: {{profile.postcode}}</p>
<p>Uk resident: {{profile.uk_resident}}</p>
<p>Date of Birth: {{profile.birth_date}}</p>
<p>Invoices: {{profile.invoice}}</p>
<p>Requests: {{profile.requesttickets}}</p>
<p>Contact via text:{{Contact_via_phone}}</p>
<p>Contact via email:{{Contact_via_email}}</p>
<div class="form-area grey darken-4 text-center my-2">
    <h2>Edit or update your profile</h2>
    <form class="form-area" action="{% url 'editAccount' %}" method="POST" id="profiledata">
        {% csrf_token %}
        <div class="small-input">
            <label class="" for="First_Name">First Name: </label>
            <input id="First_Name" class="input-fill" name="First_Name" 
            type="text" value="{{profile.First_name}}" required>
        </div>
        <div class="small-input">
            <label class="" for="Last_Name">Last Name: </label>
            <input id="Last_Name" class="input-fill" name="Last_Name" 
            type="text" value="{{profile.Last_name}}" required>
        </div>
        <div class="small-input">
            <label class="" for="Phone_number">Phone Number: </label>
            <input id="Phone_number" class="input-fill" name="Phone_number" 
            type="tel" value="{{profile.Phone_number}}" required>
        </div>
        <div class="small-input">
            <label class="" for="House_number">House Number: </label>
            <input id="House_number" class="input-fill" name="House_number" 
            type="text" value="{{profile.House_number}}" required>
        </div>
        <div class="small-input">
            <label class="" for="Street_Name">Street Name: </label>
            <input id="Street_Name" class="input-fill" name="Street_Name" 
            type="text" value="{{profile.address_line_one}}" required>
        </div>
        <div class="small-input">
            <label class="" for="Town">Town: </label>
            <input id="Town" class="input-fill" name="Town" 
            type="text" value="{{profile.Town}}" required>
        </div>
        <div class="small-input">
            <label class="" for="County">County: </label>
            <input id="County" class="input-fill" name="County" 
            type="text" value="{{profile.County}}" required>
        </div>
        <div class="small-input">
            <label class="" for="Postcode">Postcode: </label>
            <input id="Postcode" class="input-fill" name="Postcode" 
            type="text" value="{{profile.postcode}}" required>
        </div>
        <div class="small-input">
            <label class="" for="UK_resident">Are you a UK Resident? </label>
            <input id="UK_resident" class="input-fill" name="UK_resident" 
            type="checkbox" >
        </div>
        <div class="small-input">
            <label class="" for="Contact_via_phone">Are you happy to be contacted via phone? </label>
            <input id="Contact_via_phone" class="input-fill" name="Contact_via_phone" 
            type="checkbox" >
        </div>
        <div class="small-input">
            <label class="" for="Contact_via_email">Are you happy to be contacted via email? </label>
            <input id="Contact_via_email" class="input-fill" name="Contact_via_email" 
            type="checkbox" >
        </div>
        <div class="small-input">
            <label class="" for="Contact_via_text">Are you happy to be contacted via text? </label>
            <input id="Contact_via_text" class="input-fill" name="Contact_via_text" 
            type="checkbox" >
        </div>
        <div class="small-input">
            <label class="" for="DOB">Date Of Birth: </label>
            <input id="DOB" class="input-fill" name="DOB" 
            type="date" value="{{profile.birth_date}}" required>
        </div>
        <div class="medium-input">
            <input class="text-center col-12 col-md-3 grey darken-3 text-center my-3 py-3 grey-link btn-dark" 
            type="submit">
        </div>
    </form>
</div>
{% else %}
<h1>Oops! login timed out please log in again!</h1>
<div class="row choice-container">
    <a class="col-6 grey darken-4 selectable text-center py-3 my-1" href="{% url 'account_login' %}">Log in</a>
    <a class="text-center col-12 col-md-3 grey darken-3 text-center my-3 py-3 grey-link btn-dark" href="{% url 'requests' %}">Back to safety</a>
</div>
{% endif %}
{% endblock %}