{% extends 'base.html' %}
{% load static %}
{% block content %}
<div class="col-12 hero-img-holder">
    <img class="hero-img" src="{% static 'images/Pink_paint_explosion.png' %}" 
    alt="A large splash image of a pink paint explosion">
</div>
<div id="hero-cover" class="custom-scroll black" 
animationProps="100,screenHeight/2,0,-screenHeight/1.5,down">
    <div class="mx-3 black op-8">
        <div  class="mx-3 text-center py-3  {% if service.color == 'black' %} white-text {% else %} {{ service.color }}-text {% endif %} {{ service.colorModifier }}">
            <h1 id="clientColor">{{service.clientName}}</h1>
            <p>
                {{service.clientShortDescription}}
            </p>
        </div>
    </div>
</div>
{% if service.active %}

    {% include 'default_site/includes/galleryPageTemplate.html' %}

{% endif %}

{% include 'includes/seperator.html' %}


<div class="my-3 pink darken-4 op-2 col-12 col-md-6 col-lg-4 offset-md-3 offset-lg-4">
    <h3 class="mx-3 my-3 py-3 text-center">So far so good?</h3>
</div>
<a href="{% url 'important_marketing' %}">
    <h3 class="pink darken-2 op-2 col-10 offset-1 col-xl-6 offset-xl-3 text-center py-3 grey-link">Click here to find out more!</h3>
</a>
{% if user.is_authenticated %}
<a href="{% url 'marketing' 'home' %}">
    <h3 class="pink darken-2 op-2 col-10 offset-1 col-xl-6 offset-xl-3 text-center py-3 grey-link">Get a quote</h3>
</a>
{% else %}
<a href="{% url 'account_login' %}">
    <h3 class="pink darken-2 op-2 col-10 offset-1 col-xl-6 offset-xl-3 text-center py-3 grey-link">Login for quotes</h3>
</a>
{% endif %}
<a href="{% url 'gallery' %}">
    <h3 class="pink darken-2 op-2 col-10 offset-1 col-xl-6 offset-xl-3 text-center py-3 grey-link">Gallery</h3>
</a>
{% endblock %}
