{% extends 'base.html' %}
{% load static %}
{% block content %}
<div class="col-12 hero-img-holder">
    <img class="hero-img" src="{% static 'images/multicolor_paint_explosion.png' %}" alt="A large splash image of a muliticolor paint explosion">
</div>
<div id="hero-cover" class="custom-scroll black" animationProps="10,screenHeight,0,screenHeight/2,down">
    <div class="mx-3 grey darken-4">
        <div class="mx-3 text-center">
            <h1>What do we do differently?</h1>
            <p>
                At makewebwork we specialise in data driven websites for technophobes and techies alike. 
                Whatever your background we will turn your vision into reality. A data driven website is 
                a site with no restrictions.
            </p>
        </div>
    </div>
</div>
<div>
    <div id="possibilities" class="text-center circle pink custom-scroll" 
    animationProps="-100,screenHeight/2,screenwidth,screenwidth/4,right">
        <h3>Unlimited possibilities</h3>
    </div>
    <div id="potential" class="text-center circle cyan custom-scroll" 
    animationProps="-100,screenHeight/2,screenwidth,screenwidth/1.5,right">
        <h3>Unlimited potential</h3>
    </div>
</div>
<!-- rest of the homepage content -->
<h1>Random heading</h1>
<h1>Random heading</h1>
<h1>Random heading</h1>
<h1>Random heading</h1>
<h1>Random heading</h1>
<p>This text is random and doesn't mean anything for now. This text is random and doesn't mean anything for now. This text is random and doesn't mean anything for now. 
This text is random and doesn't mean anything for now. This text is random and doesn't mean anything for now. This text is random and doesn't mean anything for now. 
</p>
<h1>Random heading</h1>
<h1>Random heading</h1>
<h1>Random heading</h1>
<h1>Random heading</h1>
<h1>Random heading</h1>
<p>This text is random and doesn't mean anything for now. This text is random and doesn't mean anything for now. This text is random and doesn't mean anything for now. 
This text is random and doesn't mean anything for now. This text is random and doesn't mean anything for now. This text is random and doesn't mean anything for now. 
</p>
<h1>Random heading</h1>
<h1>Random heading</h1>
<h1>Random heading</h1>
<h1>Random heading</h1>
<h1>Random heading</h1>
<p>This text is random and doesn't mean anything for now. This text is random and doesn't mean anything for now. This text is random and doesn't mean anything for now. 
This text is random and doesn't mean anything for now. This text is random and doesn't mean anything for now. This text is random and doesn't mean anything for now. 
</p>


{% endblock %}
