{% extends 'base.html' %}
{% load static %}
{% block content %}
<div class="col-12 hero-img-holder">
    <img class="hero-img" src="{% static 'images/multicolor_paint_explosion.png' %}" alt="A large splash image of a muliticolor paint explosion">
</div>
<div id="hero-cover" class="custom-scroll black">
    <div class="mx-3 grey darken-4">
        <div class="mx-3 text-center">
            <h1>What do we do differently?</h1>
            <p>
                At makewebwork we specialise in data driven websites for technophobes and techies alike. 
                Whatever your background we will turn your vision into reality. A data driven website is 
                a site with no restrictions.
            </p>
        </div>
    </div>
</div>
<div class="col-6 col-sm-4 col-xl-2 text-center circle pink">
    <h3>Unlimited possibilities</h3>
</div>
<div class="col-6 col-sm-4 col-xl-2 offset-3 text-center circle cyan">
    <h3>Unlimited potential</h3>
</div>
<div class="col-6 col-sm-4 col-xl-2 offset-6 text-center circle green">
    <h3>Unlimited opportunities</h3>
</div>

<!-- rest of the homepage content -->
<h1>Random heading</h1>
<h1>Random heading</h1>
<h1>Random heading</h1>
<h1>Random heading</h1>
<h1>Random heading</h1>
<p>This text is random and doesn't mean anything for now. This text is random and doesn't mean anything for now. This text is random and doesn't mean anything for now. 
This text is random and doesn't mean anything for now. This text is random and doesn't mean anything for now. This text is random and doesn't mean anything for now. 
</p>
<h1>Random heading</h1>
<h1>Random heading</h1>
<h1>Random heading</h1>
<h1>Random heading</h1>
<h1>Random heading</h1>
<p>This text is random and doesn't mean anything for now. This text is random and doesn't mean anything for now. This text is random and doesn't mean anything for now. 
This text is random and doesn't mean anything for now. This text is random and doesn't mean anything for now. This text is random and doesn't mean anything for now. 
</p>
<h1>Random heading</h1>
<h1>Random heading</h1>
<h1>Random heading</h1>
<h1>Random heading</h1>
<h1>Random heading</h1>
<p>This text is random and doesn't mean anything for now. This text is random and doesn't mean anything for now. This text is random and doesn't mean anything for now. 
This text is random and doesn't mean anything for now. This text is random and doesn't mean anything for now. This text is random and doesn't mean anything for now. 
</p>


{% endblock %}
