{% for section in sections %}

    <div class="row mb-5">
    {% include 'copilot/incldues/mediaUploader.html' %}
    {% include 'copilot/includes/all_videos.html' %}
    {% include 'copilot/includes/all_images.html' %}

    </div>

    {% include 'includes/seperator.html' %}

    {% if section.sectionType == "video" %}

        {% include 'copilot/includes/videoSection.html' %}
        {% include 'copilot/includes/comments.html' %}

    {% elif section.sectionType == "text" %}

        {% include 'copilot/includes/textSection.html' %}
        {% include 'copilot/includes/comments.html' %}

    {% elif section.sectionType == "image" %}

        {% include 'copilot/includes/imageSection.html' %}
        {% include 'copilot/includes/comments.html' %}

    {% elif section.sectionType == "rebrand" %}

        {% include 'copilot/includes/rebrandSection.html' %}
        {% include 'copilot/includes/comments.html' %}

    {% elif section.sectionType == "businessCards" %}  

        {% include 'copilot/includes/businessCardSection.html' %}
        {% include 'copilot/includes/comments.html' %}

    {% endif %}

    
{% endfor %}
{% include 'copilot/partials/edit/mediaSelectionModal.html' %}