    <div class="row mb-5">
    {% include 'copilot/includes/mediaUploader.html' %}
    {% include 'copilot/includes/allVideoSection.html' %}
    {% include 'copilot/includes/allImageSection.html' %}
    {% if request.user.is_superuser %}
        {% include 'copilot/includes/addSection.html' %}
    {% endif %}
    </div>

{% for section in sections %}


    {% include 'includes/seperator.html' %}

 {% if section.sectionType == "video" %}

        {% include 'copilot/partials/sections/videoSection.html' %}
        {% include 'copilot/includes/comments.html' %}

    {% elif section.sectionType == "text" %}

        {% include 'copilot/partials/sections/textSection.html' %}
        {% include 'copilot/includes/comments.html' %}

    {% elif section.sectionType == "image" %}

        {% include 'copilot/partials/sections/imageSection.html' %}
        {% include 'copilot/includes/comments.html' %}

    {% elif section.sectionType == "rebrand" %}

        {% include 'copilot/partials/sections/rebrandSection.html' %}
        {% include 'copilot/includes/comments.html' %}

    {% elif section.sectionType == "business" %}  

        {% include 'copilot/partials/sections/businessCardSection.html' %}
        {% include 'copilot/includes/comments.html' %}

    {% endif %}

{% endfor %}
<!-- MODALS -->
{% include 'copilot/partials/edit/mediaSelectionModal.html' %}